interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices?wsdl
  response:
    body: {string: '<?xml version=''1.0'' encoding=''UTF-8''?><!-- Published by JAX-WS
        RI (http://jax-ws.java.net). RI''s version is JAX-WS RI 2.3.0-b170407.2038
        svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by
        JAX-WS RI (http://jax-ws.java.net). RI''s version is JAX-WS RI 2.3.0-b170407.2038
        svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://h2h.integration.spei.enlacefi.lgec.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://h2h.integration.spei.enlacefi.lgec.com/"
        name="SpeiActualizaServicesImpl">

        <types>

        <xsd:schema>

        <xsd:import namespace="http://h2h.integration.spei.enlacefi.lgec.com/" schemaLocation="https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices?xsd=1"/>

        </xsd:schema>

        </types>

        <message name="confirmaAbonoId">

        <part name="parameters" element="tns:confirmaAbonoId"/>

        </message>

        <message name="confirmaAbonoIdResponse">

        <part name="parameters" element="tns:confirmaAbonoIdResponse"/>

        </message>

        <message name="reenviaErroresH2H">

        <part name="parameters" element="tns:reenviaErroresH2H"/>

        </message>

        <message name="reenviaErroresH2HResponse">

        <part name="parameters" element="tns:reenviaErroresH2HResponse"/>

        </message>

        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices?xsd=1
  response:
    body: {string: '<?xml version=''1.0'' encoding=''UTF-8''?><!-- Published by JAX-WS
        RI (http://jax-ws.java.net). RI''s version is JAX-WS RI 2.3.0-b170407.2038
        svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://h2h.integration.spei.enlacefi.lgec.com/"><xsd:complexType
        name="altaCuentaTerceros"><xsd:sequence><xsd:element name="nombre" type="xsd:string"
        minOccurs="0"/><xsd:element name="nombreBeneficiario" type="xsd:string" minOccurs="0"/><xsd:element
        name="cuenta" type="xsd:string" minOccurs="0"/><xsd:element name="rfc" type="xsd:string"
        minOccurs="0"/><xsd:element name="empresa" type="xsd:string" minOccurs="0"/><xsd:element
        name="estado" type="xsd:string" minOccurs="0"/><xsd:element name="instOperante"
        type="xsd:int" minOccurs="0"/><xsd:element name="token" type="xsd:string"
        minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="altaCuentaTercerosResponse"><xsd:sequence><xsd:element
        name="return" type="ns0:altaCuentaTercerosReturn" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType
        name="asociaNumeroCelular"><xsd:sequence><xsd:element name="empresa" type="xsd:string"
        minOccurs="0"/><xsd:element name="numeroCelular" type="xsd:string" minOccurs="0"/><xsd:element
        name="cuentaCLABE" type="xsd:string" minOccurs="0"/><xsd:element name="firma"
        type="xsd:string" minOcc[...]
